<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<style>
		*{
			padding: 0;
			border: 0;
			outline: 0;
			font-size: 100%;
			font-family: sans-serif;	
		}

		body{
			background: url('hipster-tas-macbook-iphone-starbucks-sunglasses.jpg') no-repeat center center fixed;
			background-size: cover;
		}

		#content{
			width: 60%;
			border: 1px solid grey;
			border-radius: 2px;
			margin: 150px auto 0 auto;
			background-color: #fff;
		}

		aside{
			top: 150px;
			width: 150px;
			background-color: #fff;
			position: fixed;
		}

		#left{
			left: 30px;
		}

		#right{
			right: 30px;
		}

		div.post{
			padding: 10px;
			border-bottom: 1px solid grey;
		}

		input{
			display: none
		}

		label{
			display: block;
			padding: 6px 10px;
		}

		input:checked + label{
			background-color: rgba(0, 0, 0, 0.2);
		}


	</style>
</head>
<body>
	<aside id="left">
		<form action="">

			<input type="checkbox" id="1">
			<label for="1">Category 1</label>

			<input type="checkbox" id="2">
			<label for="2">Category 2</label>

			<input type="checkbox" id="3">
			<label for="3">Category 3</label>

			<input type="checkbox" id="4">
			<label for="4">Category 4</label>

			<input type="checkbox" id="5">
			<label for="5">Category 5</label>

			<input type="checkbox" id="6">
			<label for="6">Category 6</label>

			<input type="checkbox" id="7">
			<label for="7">Category 7</label>

			<input type="checkbox" id="8">
			<label for="8">Category 8</label>

			<input type="checkbox" id="9">
			<label for="9">Category 9</label>

			<input type="checkbox" id="10">
			<label for="10">Category 10</label>


		</form>
	</aside>
	<div id="content">
		<div class="post">
			<h1>Lorem.</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nesciunt quo rem non distinctio doloremque laboriosam magnam sint, ipsam totam.</p>
		</div>
		<div class="post">
			<h1>Sapiente.</h1>
			<p>Libero repudiandae, quam animi necessitatibus voluptatem numquam eius expedita labore impedit. Quod mollitia consequuntur nam molestiae sit autem vel voluptates!</p>
		</div>
		<div class="post">
			<h1>Consectetur.</h1>
			<p>Mollitia ipsa, sed. Cum fugiat quaerat excepturi sequi dicta earum animi, enim impedit rerum amet fuga, itaque nemo similique reprehenderit!</p>
		</div>
		<div class="post">
			<h1>Unde.</h1>
			<p>Assumenda laudantium excepturi, iure molestias unde, sed eaque voluptatem hic ab blanditiis autem porro incidunt beatae, cumque, vitae temporibus ex.</p>
		</div>
		<div class="post">
			<h1>Dicta!</h1>
			<p>Laboriosam dolorum beatae ipsam quaerat nulla omnis id ab, expedita labore veritatis, sint. Ut accusantium dignissimos, optio molestiae iure officiis.</p>
		</div>
		<div class="post">
			<h1>Nesciunt.</h1>
			<p>Quidem dolores obcaecati deserunt, numquam vel rerum, libero veniam et aut eligendi doloribus hic explicabo sequi eos aliquid voluptatum ipsam.</p>
		</div>
		<div class="post">
			<h1>Nulla.</h1>
			<p>Velit dolores quas, tempore laudantium doloribus natus esse ea eaque quibusdam, eius ex tenetur sapiente suscipit accusamus magni dolor saepe!</p>
		</div>
		<div class="post">
			<h1>Doloremque.</h1>
			<p>Eligendi, odio, quam saepe quasi mollitia a! Molestiae, dignissimos eaque corporis eum iusto nulla. Ipsa ad, asperiores dolores quibusdam molestias!</p>
		</div>
		<div class="post">
			<h1>Voluptas.</h1>
			<p>Impedit, error cum. Expedita asperiores atque, incidunt a sed provident aut impedit repellat. Quaerat similique architecto placeat explicabo esse voluptatibus.</p>
		</div>
		<div class="post">
			<h1>Laborum.</h1>
			<p>Minus maxime error nam earum laudantium aspernatur unde animi quam adipisci tenetur ipsam, illum similique ullam nobis, libero! Dolore, voluptatum.</p>
		</div>
		<div class="post">
			<h1>Earum?</h1>
			<p>Rerum eligendi ex reiciendis aspernatur vero repellat veritatis nam expedita neque. Reprehenderit accusantium, totam? Maxime ipsa quis, alias adipisci possimus.</p>
		</div>
		<div class="post">
			<h1>Quisquam.</h1>
			<p>Libero eveniet quos, sunt nostrum ducimus id cum fugit earum aliquid, adipisci fuga consequatur recusandae magni itaque molestias magnam aperiam!</p>
		</div>
		<div class="post">
			<h1>Eligendi.</h1>
			<p>Incidunt, ab recusandae. Quae possimus quia temporibus tempore unde voluptas repudiandae deleniti nobis explicabo labore dolores, adipisci, dolore in, laudantium?</p>
		</div>
		<div class="post">
			<h1>Dolor.</h1>
			<p>Commodi beatae consectetur corporis quos at ipsam quidem culpa, ipsum totam fugiat nihil illum. Alias libero sunt recusandae aspernatur itaque.</p>
		</div>
		<div class="post">
			<h1>Error.</h1>
			<p>Et doloremque mollitia atque amet delectus quisquam ea at deserunt nam, ducimus, dolorem, doloribus tenetur voluptate velit ab vero commodi.</p>
		</div>
		<div class="post">
			<h1>Velit.</h1>
			<p>Repellat, cumque neque assumenda sit ea eaque. Commodi, atque porro libero, incidunt ipsam perspiciatis dolores! Necessitatibus suscipit animi veritatis rem!</p>
		</div>
		<div class="post">
			<h1>Tempore?</h1>
			<p>Incidunt tempora veritatis aspernatur ea, error eaque odio, quis numquam repudiandae sit provident alias accusantium maiores, itaque accusamus hic nulla!</p>
		</div>
		<div class="post">
			<h1>Quod.</h1>
			<p>Quisquam beatae tempora, reiciendis, quo sed rerum labore blanditiis est a totam iusto esse odio doloribus earum libero explicabo in!</p>
		</div>
		<div class="post">
			<h1>Ipsum!</h1>
			<p>Modi reiciendis ipsa, eligendi repellendus nihil, optio harum, officiis iure minima nobis dolorem similique quisquam quod quas qui voluptatibus molestias.</p>
		</div>
		<div class="post">
			<h1>Officiis!</h1>
			<p>Perspiciatis deserunt, maiores, repellendus vitae possimus iste quisquam, nesciunt quam impedit dolorem rerum porro ipsam nostrum dignissimos qui ab, repellat.</p>
		</div>

	</div>
	<aside id="right">
		sdf
	</aside>
</body>
</html>