body{
	background: url('../img/hipster2.jpg') no-repeat center center fixed;
	background-size: cover;
}

img#logo{
	height: 80px;
	position: fixed;
	top: 30px;
	left: 40px;
}

#content{
	width: 60%;
	margin: 150px auto 0 auto;
}

aside{
	top: 150px;
	width: 190px;
	position: fixed;
}

#left{
	left: 30px;
}

#right{
	right: 30px;
}

aside section{
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 2px;
	margin-bottom: 10px;
}

aside section span{
	border-bottom: 1px solid grey;
	padding: 10px 10px 2px 10px;
	display: block;
	font-weight: 700;
}

div.post{
	margin: 3px 0;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 10px;
	border-radius: 2px;
	border-bottom: 1px solid grey;
}

input{
	display: none;
}

label{
	cursor: pointer;
	display: block;
	padding: 6px 10px;
}

input:checked + label{
	background-color: rgba(0, 0, 0, 0.2);
}

input[type=text]{
	padding: 5px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
}

section a img{
	width: 190px;
}

section a img:hover{
	background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_settings_48px-128.png) no-repeat center center;
}
