.profilebox {
	background-color: rgba(255, 255, 255, 0.95);
	min-height: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	position: relative;
}

.profilebox img{
	height: 200px;
}

.profilebox h1{
	position: absolute;
	left: 200px;
	top: 0px;
	font-size: 3em;
}

.profilebox h2{
	font-weight: 400;
	position: absolute;
	left: 200px;
	top: 70px;
	color: rgba(0, 0, 0, 0.7);
	font-size: 2em;
}

.profilebox h3{
	font-weight: 400;
	position: absolute;
	left: 200px;
	top: 130px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 1.1em;
}

.timeline {
	position: relative;
	line-height: 50px;
}

.timeline .time-item
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 50px;
}

.timeline .time-item span
{
	position: absolute;
	top: 0px;
	left: 40px;
}

.timeline .time-item:before
{
	content: ' ';
	display: inline-block;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #090;
}

.timeline .time-item:not(:last-child):after
{
	content: ' ';
	display: inline-block;
	position: absolute;
	height: 40px;
	left: 12px;
	top: 30px;
	width: 4px;
	background-color: #090;
}
