div#profile{
	background-color: rgba(255, 255, 255, 0.95);
	min-height: 100%;
	padding: 20px;
	position: relative;
}

div#profile img{
	height: 200px;
}

div#profile h1{
	position: absolute;
	left: 200px;
	top: 0px;
	font-size: 3em;
}

div#profile h2{
	font-weight: 400;
	position: absolute;
	left: 200px;
	top: 70px;
	color: rgba(0, 0, 0, 0.7);
	font-size: 2em;
}

div#profile h3{
	font-weight: 400;
	position: absolute;
	left: 200px;
	top: 130px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 1.1em;
}
