div#profile{
	background-color: rgba(255, 255, 255, 0.95);
	min-height: 100%;
	padding: 20px;
}

div#profile img{
	height: 200px;
}

div#profile h1{
	position: absolute;
	left: 240px;
	top: 20px;
	font-size: 3em;
}

div#profile h2{

}